@import 'assets/styles/colors';
@import 'assets/styles/sizes';

.placeholder {
  position: absolute;
  top: 50vh;
  transform: translate(0, -50%);
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: $secondaryColor;
}
