@import 'assets/styles/colors';
@import 'assets/styles/mixins';

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  background-color: $secondaryColor;
  z-index: 100;

  @include screen-mobile {
    padding: 5px 10px;
  }

  .logo {
    height: 56px;
    cursor: pointer;
  }
}
